body {
  font-family: Tahoma;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.body-wrapper {
  position: relative;
  border: 10px solid #cdb59d;
  border-bottom: 0;
  min-height: 100%;
}
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h3,
h5,
h6 {
  margin: 0;
  font-weight: 300;
  color: #000000;
}
h3 {
  padding: 0;
  font-size: 38px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 960px) {
  h3 {
    font-size: 34px;
  }
}
h5,
h6 {
  padding: 0 0 50px 0;
  font-weight: 500;
}
h5 {
  font-size: 26px;
}
@media only screen and (max-width: 960px) {
  h5 {
    font-size: 20px;
  }
}
h6 {
  font-size: 20px;
}
@media only screen and (max-width: 960px) {
  h6 {
    font-size: 19px;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.generic-form button {
  box-shadow: none !important;
  font-size: 13px !important;
  color: #333333;
  border-radius: 0 !important;
}
.generic-form button:hover {
  color: #000000;
}
.generic-form .tip {
  display: block;
  font-size: 13px;
  color: #666666;
  padding-bottom: 30px;
  font-weight: 400;
  padding-top: 10px;
}
.generic-form .tip.note {
  font-style: italic;
}
.generic-form .additional-data {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.generic-form .additional-data md-input-container {
  margin-bottom: 0 !important;
}
.content-container {
  margin-bottom: 50px;
}
.carouselbox,
.carouselboxvideo {
  position: relative;
  width: 100%;
}
.carouselbox .buttons,
.carouselboxvideo .buttons {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carouselbox .buttons button,
.carouselboxvideo .buttons button {
  border: none;
  visibility: hidden;
  outline-width: 0;
  background: none;
  position: absolute;
  top: 47%;
}
@media only screen and (max-width: 680px) {
  .carouselbox .buttons button,
  .carouselboxvideo .buttons button {
    top: 40%;
  }
}
.carouselbox .buttons button.next,
.carouselboxvideo .buttons button.next {
  right: 0;
}
.carouselbox .buttons button.prev,
.carouselboxvideo .buttons button.prev {
  left: 0;
}
.carouselbox .buttons button i,
.carouselboxvideo .buttons button i {
  font-size: 48px;
  color: #7f2622;
  transition: all 0.2s ease-in-out 0s;
}
.carouselbox .buttons button i:hover,
.carouselboxvideo .buttons button i:hover {
  color: #000000;
}
.carouselbox .content,
.carouselboxvideo .content {
  position: relative;
  margin: 0;
  padding: 0;
}
.carouselbox .content li,
.carouselboxvideo .content li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 2;
}
.carouselbox .content li img,
.carouselboxvideo .content li img {
  display: block;
  width: 100%;
  height: auto;
}
.carouselbox.active,
.carouselboxvideo.active {
  height: auto;
}
.carouselbox.active .buttons,
.carouselboxvideo.active .buttons {
  display: block;
}
.carouselbox.active .buttons button,
.carouselboxvideo.active .buttons button {
  visibility: visible;
}
.carouselbox.active .content,
.carouselboxvideo.active .content {
  overflow: hidden;
}
.carouselbox.active .content li,
.carouselboxvideo.active .content li {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.carouselbox.active .content li.current,
.carouselboxvideo.active .content li.current {
  width: 100%;
  height: auto;
  opacity: 1;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
}
.main-header .secondary-nav {
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
}
@media only screen and (max-width: 680px) {
  .main-header .secondary-nav {
    text-align: center;
    padding: 5px 0 15px 0;
  }
}
.main-header .secondary-nav li {
  display: inline-block;
}
.main-header .secondary-nav li a {
  display: block;
}
.main-header .secondary-nav li a button {
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  border-radius: 0;
  text-transform: none;
  background: none;
}
.main-header .secondary-nav li a button:hover {
  color: #ffffff;
}
.main-header .secondary-nav li a button[disabled] span {
  color: #ffffff;
  opacity: 0.6;
}
.main-header .logo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.main-header .main-nav {
  padding: 10px 10px;
}
.main-header .main-nav li {
  display: inline-block;
}
.main-header .main-nav li a {
  display: block;
  margin: 0 15px;
}
@media only screen and (max-width: 680px) {
  .main-header .main-nav li a {
    margin: 0;
  }
}
.main-header .main-nav li a button {
  margin: 0;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border-radius: 0;
}
@media only screen and (max-width: 680px) {
  .main-header .main-nav li a button {
    letter-spacing: 0px;
    font-size: 13px;
    text-transform: capitalize;
  }
}
.main-header .main-nav li a button:hover {
  color: #7f2622;
}
.main-header.compact {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 0;
  border: 10px solid #cdb59d;
  border-top: 0;
  border-bottom: 0;
}
.main-header.compact .secondary-nav {
  display: none;
}
.main-header.compact .logo {
  display: none;
}
.main-header.compact .main-nav {
  padding: 0;
}
.main-header.compact .main-nav li a button {
  color: #333333;
}
.intro {
  position: relative;
  top: -10px;
  text-align: center;
  background: #666666;
  margin-bottom: 50px;
  height: 850px;
  background-position: center center;
  background-size: cover;
}
.intro.intro-contact {
  margin-bottom: -10px;
}
.intro.intro-page {
  height: 300px;
  background-position: top center;
}
@media only screen and (max-width: 960px) {
  .intro {
    height: 600px;
  }
}
@media only screen and (max-width: 680px) {
  .intro {
    padding-top: 140px;
    height: 500px;
  }
}
.intro.collapsed {
  height: 300px;
}
.intro .intro-row {
  height: 100%;
}
.intro h1,
.intro h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
.intro h1 {
  font-size: 60px;
}
@media only screen and (max-width: 960px) {
  .intro h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 680px) {
  .intro h1 {
    font-size: 38px;
  }
}
.intro h2 {
  font-size: 17px;
  font-weight: 400;
}
@media only screen and (max-width: 960px) {
  .intro h2 {
    font-size: 15px;
  }
}
.intro button {
  margin-top: 30px;
  background: #ffffff !important;
  padding: 0 45px;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.about {
  position: relative;
  text-align: center;
  background: #ebebeb;
  margin-bottom: 50px;
  height: 800px;
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 960px) {
  .about {
    height: 1100px;
  }
}
.about .about-row {
  height: 100%;
  padding: 0 60px;
}
.about p {
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  font-weight: 300;
  margin: 0 0 30px 0;
  padding: 0;
}
@media only screen and (max-width: 960px) {
  .about p {
    font-size: 15px;
    line-height: normal;
  }
}
.about button {
  margin-top: 30px;
  background: #7f2622 !important;
  color: #ffffff !important;
  padding: 0 45px;
  border-radius: 0 !important;
  box-shadow: none !important;
  min-width: 220px;
}
@media only screen and (max-width: 960px) {
  .about button {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
    clear: both;
  }
}
.reviews {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0;
  padding-bottom: 50px;
}
.reviews .review {
  position: relative;
  padding: 0 30px;
  margin: 30px 0;
  padding-top: 30px;
  background: url('../assets/img/quote.png') top left no-repeat;
  background-size: 9px 8px;
}
@media only screen and (max-width: 680px) {
  .reviews .review {
    margin: 10px 0;
  }
}
.reviews .review p {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  background: url('../assets/img/quote.png') bottom right no-repeat;
  background-size: 9px 8px;
}
.reviews .review span {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}
.generic-content {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}
@media only screen and (max-width: 960px) {
  .generic-content {
    padding: 0 30px;
  }
}
.generic-content h3 {
  padding-top: 50px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 680px) {
  .generic-content h3 {
    padding-bottom: 50px;
  }
}
.generic-content p {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 24px;
  margin: 0;
  padding: 0 0 30px 0;
}
@media only screen and (max-width: 960px) {
  .generic-content p {
    font-size: 15px;
    line-height: normal;
  }
}
.generic-content .content-list {
  position: relative;
  display: block;
  padding-bottom: 30px;
}
.generic-content .content-list li {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
}
.map {
  position: relative;
}
@media only screen and (max-width: 960px) {
  .map {
    border: 10px solid #cdb59d;
    border-right: 0;
    border-left: 0;
  }
}
.map .map-item {
  position: relative;
  overflow: hidden;
  height: 550px;
  background: #ebebeb;
}
@media only screen and (max-width: 960px) {
  .map .map-item {
    height: 400px;
    border: 10px solid #cdb59d;
  }
}
@media only screen and (max-width: 680px) {
  .map .map-item {
    height: 300px;
  }
}
.partner {
  position: relative;
  text-align: center;
  padding: 30px;
}
.partner a {
  display: block;
  color: #7f2622;
  font-style: 15px;
  font-weight: 300;
}
.partner a:hover {
  color: #000000;
}
.partner a img {
  width: 100%;
  height: auto;
  max-width: 350px;
}
.partner a span {
  display: block;
  padding-top: 15px;
}
.video {
  position: relative;
}
@media only screen and (max-width: 680px) {
  .video {
    padding: 15px 0;
  }
}
.video iframe {
  height: 720px;
}
@media only screen and (max-width: 960px) {
  .video iframe {
    height: 500px;
  }
}
@media only screen and (max-width: 680px) {
  .video iframe {
    height: 300px;
  }
}
.member {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 300px;
  padding-bottom: 30px;
}
.member header {
  position: relative;
}
.member header img {
  width: 100%;
  height: auto;
}
.member h6 {
  margin: 0;
  padding: 15px 0;
  font-style: 19px;
}
.member p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.yt-btn {
  opacity: 0.9;
}
.yt-btn:hover {
  opacity: 1;
}
.yt-btn img {
  width: 90px;
  height: auto;
}
.main-footer {
  position: relative;
}
.main-footer > .wrap {
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #ebebeb;
}
@media only screen and (max-width: 680px) {
  .main-footer .bottom-nav {
    text-align: center;
  }
}
.main-footer .bottom-nav li {
  display: inline-block;
}
@media only screen and (max-width: 680px) {
  .main-footer .bottom-nav li {
    margin-bottom: 5px;
  }
}
.main-footer .bottom-nav li a {
  display: block;
}
.main-footer .bottom-nav li a button {
  margin: 0;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  text-transform: none;
}
.main-footer .bottom-nav li a button:hover {
  color: #7f2622;
}
.main-footer .social-nav {
  text-align: right;
  padding-top: 10px;
  padding-right: 30px;
}
@media only screen and (max-width: 680px) {
  .main-footer .social-nav {
    text-align: center;
    margin-bottom: 20px;
    padding-right: 0;
  }
}
.main-footer .social-nav li {
  display: inline-block;
  padding-left: 15px;
}
@media only screen and (max-width: 680px) {
  .main-footer .social-nav li {
    padding: 0 10px;
  }
}
.main-footer .social-nav li a {
  display: block;
  opacity: 0.8;
}
.main-footer .social-nav li a:hover {
  opacity: 1;
}
.main-footer .address {
  font-size: 12px;
  color: #333333;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 25px;
}
@media only screen and (max-width: 680px) {
  .main-footer .address {
    text-align: center;
    padding-left: 0;
  }
}
.main-footer .address span:first-child {
  font-size: 14px;
  font-weight: 500;
}
.main-footer .address span.phone {
  font-size: 26px;
  color: #7f2622;
}
.main-footer .copyright {
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  padding-right: 30px;
  padding-top: 15px;
}
@media only screen and (max-width: 680px) {
  .main-footer .copyright {
    margin-top: 20px;
  }
}
.main-footer .copyright a {
  color: #333333;
  font-weight: 400;
}
.main-footer .copyright a:hover {
  color: #7f2622;
}
