body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.body-wrapper {
  position: relative;
  border: 10px solid #cdb59d;
  border-bottom: 0;
  min-height: 100%;
}
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
h3,
h5,
h6 {
  margin: 0;
  font-weight: 300;
  color: #333333;
}
h3 {
  padding: 0;
  font-size: 38px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 960px) {
  h3 {
    font-size: 34px;
  }
}
h5,
h6 {
  padding: 0 0 30px 0;
}
h5 {
  font-size: 26px;
}
@media only screen and (max-width: 960px) {
  h5 {
    font-size: 20px;
  }
}
h6 {
  font-size: 20px;
}
@media only screen and (max-width: 960px) {
  h6 {
    font-size: 19px;
  }
}
.generic-form button {
  box-shadow: none !important;
  font-size: 13px !important;
  color: #333333;
  border-radius: 0 !important;
}
.generic-form button:hover {
  color: #7f2622;
}
.generic-form .tip {
  display: block;
  font-size: 13px;
  color: #666666;
  padding-bottom: 30px;
  font-weight: 400;
  padding-top: 10px;
}
.generic-form .tip.note {
  font-style: italic;
}
.generic-form .additional-data {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.generic-form .additional-data md-input-container {
  margin-bottom: 0 !important;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  text-align: center;
}
.main-header .secondary-nav {
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
}
.main-header .secondary-nav li {
  display: inline-block;
}
.main-header .secondary-nav li a {
  display: block;
}
.main-header .secondary-nav li a button {
  margin: 0;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  text-transform: none;
  background: none;
}
.main-header .secondary-nav li a button:hover {
  color: #7f2622;
}
.main-header .main-nav {
  padding: 10px 10px;
}
.main-header .main-nav li {
  display: inline-block;
}
.main-header .main-nav li a {
  display: block;
  margin: 0 20px;
}
.main-header .main-nav li a button {
  margin: 0;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #333333;
}
.main-header .main-nav li a button:hover {
  color: #7f2622;
}
.main-header.compact {
  background: #ffffff;
  padding: 10px 0;
}
.main-header.compact .secondary-nav {
  display: none;
}
.main-header.compact .logo {
  display: none;
}
.main-header.compact .main-nav {
  padding: 0;
}
.intro {
  position: relative;
  top: -10px;
  text-align: center;
  background: #666666;
  margin-bottom: 50px;
  height: 850px;
  background-position: center center;
  background-size: cover;
}
.intro.intro-contact {
  margin-bottom: -10px;
}
@media only screen and (max-width: 960px) {
  .intro {
    height: 600px;
  }
}
@media only screen and (max-width: 680px) {
  .intro {
    padding-top: 140px;
    height: 500px;
  }
}
.intro.collapsed {
  height: 300px;
}
.intro .intro-row {
  height: 100%;
}
.intro h1,
.intro h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
.intro h1 {
  font-size: 60px;
}
@media only screen and (max-width: 960px) {
  .intro h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 680px) {
  .intro h1 {
    font-size: 38px;
  }
}
.intro h2 {
  font-size: 17px;
  font-weight: 400;
}
@media only screen and (max-width: 960px) {
  .intro h2 {
    font-size: 15px;
  }
}
.intro button {
  margin-top: 30px;
  background: #ffffff !important;
  padding: 0 45px;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.about {
  position: relative;
  text-align: center;
  background: #ebebeb;
  margin-bottom: 50px;
  height: 700px;
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 960px) {
  .about {
    height: 500px;
  }
}
.about .about-row {
  height: 100%;
  padding: 0 60px;
}
.about p {
  font-size: 17px;
  line-height: 26px;
  color: #666666;
  font-weight: 300;
  margin: 0 0 30px 0;
  padding: 0;
}
@media only screen and (max-width: 960px) {
  .about p {
    font-size: 15px;
    line-height: normal;
  }
}
.about button {
  margin-top: 30px;
  background: #333333 !important;
  color: #ffffff !important;
  padding: 0 45px;
  border-radius: 0 !important;
  box-shadow: none !important;
}
@media only screen and (max-width: 960px) {
  .about button {
    margin-top: 0;
    padding-top: 0;
  }
}
.reviews {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0 30px;
  padding-bottom: 50px;
  padding-left: 45px;
}
.reviews .review {
  position: relative;
  margin: 30px 0;
  padding-top: 30px;
  background: url('../assets/img/quote.png') top left no-repeat;
}
.reviews .review p {
  margin: 0;
  padding-right: 45px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  background: url('../assets/img/quote.png') bottom right no-repeat;
}
.reviews .review span {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}
.generic-content {
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .generic-content {
    padding: 0 30px;
  }
}
.generic-content h3 {
  padding-top: 50px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 680px) {
  .generic-content h3 {
    padding-bottom: 50px;
  }
}
.generic-content p {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 24px;
  margin: 0;
  padding: 0 0 30px 0;
}
@media only screen and (max-width: 960px) {
  .generic-content p {
    font-size: 15px;
    line-height: normal;
  }
}
.generic-content .content-list {
  position: relative;
  display: block;
  padding-bottom: 30px;
}
.generic-content .content-list li {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}
.map {
  position: relative;
}
@media only screen and (max-width: 960px) {
  .map {
    border: 10px solid #cdb59d;
    border-right: 0;
    border-left: 0;
  }
}
.map .map-item {
  position: relative;
  overflow: hidden;
  height: 550px;
  background: #ebebeb;
}
@media only screen and (max-width: 960px) {
  .map .map-item {
    height: 400px;
    border: 10px solid #cdb59d;
  }
}
@media only screen and (max-width: 680px) {
  .map .map-item {
    height: 300px;
  }
}
.main-footer {
  position: relative;
}
.main-footer > .wrap {
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #ebebeb;
}
@media only screen and (max-width: 680px) {
  .main-footer .bottom-nav {
    text-align: center;
  }
}
.main-footer .bottom-nav li {
  display: inline-block;
}
@media only screen and (max-width: 680px) {
  .main-footer .bottom-nav li {
    margin-bottom: 5px;
  }
}
.main-footer .bottom-nav li a {
  display: block;
}
.main-footer .bottom-nav li a button {
  margin: 0;
  font-size: 13px;
  color: #333333;
  border-radius: 0;
  text-transform: none;
}
.main-footer .bottom-nav li a button:hover {
  color: #7f2622;
}
.main-footer .social-nav {
  text-align: right;
  padding-top: 10px;
  padding-right: 30px;
}
@media only screen and (max-width: 680px) {
  .main-footer .social-nav {
    text-align: center;
    margin-bottom: 20px;
    padding-right: 0;
  }
}
.main-footer .social-nav li {
  display: inline-block;
  padding-left: 15px;
}
@media only screen and (max-width: 680px) {
  .main-footer .social-nav li {
    padding: 0 10px;
  }
}
.main-footer .social-nav li a {
  display: block;
  opacity: 0.8;
}
.main-footer .social-nav li a:hover {
  opacity: 1;
}
.main-footer .address {
  font-size: 12px;
  color: #333333;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 25px;
}
@media only screen and (max-width: 680px) {
  .main-footer .address {
    text-align: center;
    padding-left: 0;
  }
}
.main-footer .address span:first-child {
  font-size: 14px;
  font-weight: 500;
}
.main-footer .address span.phone {
  font-size: 26px;
  color: #7f2622;
}
.main-footer .copyright {
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  padding-right: 30px;
  padding-top: 15px;
}
@media only screen and (max-width: 680px) {
  .main-footer .copyright {
    margin-top: 20px;
  }
}
.main-footer .copyright a {
  color: #333333;
  font-weight: 400;
}
.main-footer .copyright a:hover {
  color: #7f2622;
}
