<!DOCTYPE html>
<html lang="en" ng-app="weddingApp">

<head>

	<title>Weddingdance.ro</title>
	<meta name="description" content="Cursuri de dans pentru dansul mirilor">

	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="less/style.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,300italic,100italic,100,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="body-wrapper">

	<header class="main-header" ng-controller="HeaderController" ng-class="">
		<div class="wrap">
			<div layout="row">
				<div flex>
					<nav class="secondary-nav" role="navigation">
						<ul>
							<li ng-repeat="menu in secmenus">
								<a href="{{menu.link}}">
									<md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div layout="row">
				<div flex>
					<div class="logo">
						<a href="{{logo.link}}"><img ng-src="{{logo.imageUrl}}" alt="weddingdance.ro"></a>
					</div>
				</div>
			</div>
			<div layout="row">
				<div flex>
					<nav class="main-nav" role="navigation">
						<ul>
							<li ng-repeat="menu in menus">
								<a href="{{menu.link}}">
									<md-button>{{menu.label}}</md-button>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="wrap">
		<div class="intro intro-page intro-contact" style="background-image: url('assets/img/bg-intro.jpg')">
		</div>
	</div>

	<div class="wrap">
		<div class="map">
			<div layout="row" layout-xs="column">
				<div flex="50" flex-xs="100">
					<div class="map-item">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.330831318386!2d23.61235095162464!3d46.778085079035975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c1752f4837d%3A0x76b83e6440f851ab!2zUGlhyJthIE3Eg3LEg8iZdGkgMTAwLCBDbHVqLU5hcG9jYSA0MDAwMDA!5e0!3m2!1sen!2sro!4v1453798789290" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div flex="50" flex-xs="100">
					<div class="map-item">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.2868546744758!2d23.59053695162422!3d46.75924197903526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c2ce459d6ed%3A0xa505a82bf5672c1c!2sStrada+Republicii+83%2C+Cluj-Napoca+400000!5e0!3m2!1sen!2sro!4v1453798860039" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrap" ng-controller="ContactController">
		<div class="generic-content">
			<div layout="row">
				<div flex>
					<h3>{{pagecontent.title}}</h3>
				</div>
			</div>
			<div layout="row">
				<div flex>
					<p>{{pagecontent.description}}</p>
				</div>
			</div>
			<div layout="row" layout-align="center" layout-xs="column">
				<div flex="50" flex-xs="100">
					<form name="contactForm" class="generic-form">
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label for="firstName">Nume</label>
								<input id="firstName" required ng-model="user.firstName">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label for="lastName">Prenume</label>
								<input id="lastName" required ng-model="user.lastName">
							</md-input-container>
						</div>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label for="phoneNo">Telefon</label>
								<input id="phoneNo" required ng-model="user.phoneNo">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label for="emailAddress">Email</label>
								<input id="emailAddress" required ng-model="user.emailAddress">
							</md-input-container>
						</div>
						<md-input-container class="md-block">
							<label for="interests">Sunt interesat de</label>
							<md-select id="interests" required ng-model="user.interest">
								<md-option value="dansulMirilor">Dansul mirilor</md-option>
								<md-option value="cursuriDans">Cursuri de dans</md-option>
							</md-select>
						</md-input-container>
						<div class="additional-data">
							<span class="tip">Date aditionale :</span>
							<md-datepicker id="eventdate" ng-model="user.eventDate" md-placeholder="Data"></md-datepicker>
							<md-input-container class="md-block" flex-gt-sm>
								<label for="eventLocation">Locatia</label>
								<input id="eventLocation" ng-model="user.eventLocation">
							</md-input-container>
						</div>
						<md-input-container class="md-block">
							<label for="message">Mesaj</label>
							<textarea id="message" required ng-model="user.message" columns="1" md-maxlength="500" rows="5"></textarea>
						</md-input-container>
						<md-button type="submit" ng-click="sendUserData(user)" class="md-raised">Trimite</md-button>
						<span class="tip note">{{pagecontent.requiredmessage}}</span>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer class="main-footer" ng-controller="FooterController">
		<div class="wrap">
			<div layout="row" layout-xs="column">
				<div flex="70" flex-xs="100">
					<nav class="bottom-nav" role="navigation">
						<ul>
							<li ng-repeat="menu in menus">
								<a href="{{menu.link}}">
									<md-button>{{menu.label}}</md-button>
								</a>
							</li>
							<li ng-repeat="menu in secmenus">
								<a href="{{menu.link}}">
									<md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div flex="30" flex-xs="100">
					<nav class="social-nav">
						<ul>
							<li ng-repeat="network in socials">
								<a href="{{network.link}}" target="_blank">
									<img ng-src="{{network.imageUrl}}" alt="{{network.name}}">
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div layout="row" layout-align="center center" layout-xs="column">
				<div flex="35" flex-xs="50" ng-repeat="address in addresses">
					<div class="address">
						<span>{{address.area}}</span><br>
						<span class="phone">{{address.phone}}</span><br>
						{{address.addrLineOne}}<br>
						{{address.addrLineTwo}}
					</div>
				</div>
				<div flex="35" flex-xs="100">
					<div class="copyright">
						{{copyright.copy}} <a href="{{copyright.link}}">{{copyright.label}}</a>. {{copyright.rights}}.
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/application.js"></script>
<script src="js/controllers/HeaderController.js"></script>
<script src="js/controllers/FooterController.js"></script>
<script src="js/controllers/ContactController.js"></script>

</body>

</html>