<!DOCTYPE html>
<html lang="en" ng-app="weddingApp">

	<head>

		<title>Weddingdance.ro</title>
		<meta name="description" content="Cursuri de dans pentru dansul mirilor">

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="less/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body ng-cloak>

		<div class="body-wrapper">

			<header class="main-header" id="doc-header" ng-controller="HeaderController" ng-class="">
				<div class="wrap">
					<div layout="row">
						<div flex>
							<nav class="secondary-nav" role="navigation">
								<ul>
									<li ng-repeat="menu in secmenus">
										<a href="{{menu.link}}">
											<md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div layout="row">
						<div flex>
							<div class="logo">
								<a href="{{logo.link}}"><img ng-src="{{logo.imageUrl}}" alt="weddingdance.ro"></a>
								<h2>{{logo.motto}}</h2>
							</div>
						</div>
					</div>
					<div layout="row">
						<div flex>
							<nav class="main-nav" role="navigation">
								<ul>
									<li ng-repeat="menu in menus">
										<a href="{{menu.link}}">
											<md-button>{{menu.label}}</md-button>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>

			<div ng-controller="IndexController">

				<div class="wrap">
					<div class="intro" style="background-image: url('{{pagecontent.intro.backgroundUrl}}')">
						<div layout="row" class="intro-row" layout-align="center center">
							<div flex layout-align="center center">
								<div layout="column">
									<div flex>
										<h1>{{pagecontent.intro.title}}</h1>
										<!-- <a href="{{pagecontent.intro.buttonLink}}"><md-button class="md-raised">{{pagecontent.intro.buttonLabel}}</md-button></a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wrap">
					<div class="about" style="background-image: url('{{pagecontent.about.backgroundUrl}}')">
						<div layout="row" class="about-row" layout-align="center center">
							<div flex layout-align="center center">
								<div layout="column">
									<div flex>
										<h5>Dacă ai două picioare, fie ele chiar și stângi,  te învățăm să dansezi.</h5>

										<h6>Ai emoții în legătură cu dansul de deschidere a nunții? Te credem!</h6>
										<p>La noi cursurile de dans sunt individuale, coregrafia este personalizată pe ceea ce vrei și poți tu să faci.  Numărul de ore este nelimitat, programul este flexibil și antrenamentul de  final va avea loc la sală, Pentru cătu să te obișnuiești cu senzația.</p>

										<h6>Vrei o activitate care să vă apropie? E perfect!</h6>
										<p>Altceva decât o seară în oraș, un film sau o plimbare în parc, să înveți un dans alături de persoana iubită înseamnă pasiune și apropiere. La orele de dans pentru cupluri, antrenorul personal va fi la dispoziția voastră, pentru o trecere lină de la incepator la dansator de invidiat.</p>
										<p>Te invităm la sala noastră pentru lecții de dans în orice stil te atrage: vals clasic, tango romantic sau un dirty dancing pasional. Sau alte combinații de stiluri pe care ai visat mereu să le știi.</p>

										<h6>Avem o condiție: Îți cerem să crezi că un dans se învață prima dată cu inima, nu cu picioarele.</h6>

										<!--
										<h3>{{pagecontent.about.title}}</h3>
										<div ng-repeat="paragraph in pagecontent.about.paragraphs">
											<p>{{paragraph.content}}</p>
										</div>
										-->
										<!-- <a href="{{pagecontent.about.buttonLink}}"><md-button class="md-raised">{{pagecontent.about.buttonLabel}}</md-button></a> -->
										<a href="despre-noi.html"><md-button class="md-raised">Află cine suntem</md-button></a>
										<a href="contact.html"><md-button class="md-raised">Vreau!</md-button></a>
										<a href="servicii.html"><md-button class="md-raised">Ce oferim</md-button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
<!--
				<div class="wrap">
					<div class="reviews">
						<div layout="row">
							<div flex>
								<h3>{{pagecontent.reviewstitle}}</h3>
							</div>
						</div>
						<div layout="row">
							<div flex>
								<div class="carouselbox">
									<div class="buttons">
										<button class="prev"><i class="material-icons">keyboard_arrow_left</i></button>
										<button class="next"><i class="material-icons">keyboard_arrow_right</i></button>
									</div>
									<ol class="content">
										<li>
											<div layout="row" layout-xs="column" ng-repeat="reviewsrow in pagecontent.reviewsrows">
												<div flex="50" flex-xs="100" ng-repeat="review in reviewsrow.reviews">
													<div class="review">
														<p>{{review.description}}</p>
														<span>{{review.author}}</span>
													</div>
												</div>
											</div>
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div> -->

			</div>

			<footer class="main-footer" ng-controller="FooterController">
				<div class="wrap">
					<div layout="row" layout-xs="column">
						<div flex="70" flex-xs="100">
							<nav class="bottom-nav" role="navigation">
								<ul>
									<li ng-repeat="menu in menus">
										<a href="{{menu.link}}">
											<md-button>{{menu.label}}</md-button>
										</a>
									</li>
									<li ng-repeat="menu in secmenus">
										<a href="{{menu.link}}">
											<md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div flex="30" flex-xs="100">
							<nav class="social-nav">
								<ul>
									<li ng-repeat="network in socials">
										<a href="{{network.link}}" target="_blank">
											<img ng-src="{{network.imageUrl}}" alt="{{network.name}}">
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div layout="row" layout-align="left center" layout-xs="column">
						<div flex="65" flex-xs="100" ng-repeat="address in addresses">
							<div class="address">
								<span class="phone">{{address.phone}}</span><br>
								<span class="phone">{{address.phone2}}</span><br>
								<span>{{address.area}}</span><br>
								{{address.addrLineOne}}<br>
								{{address.addrLineTwo}}
							</div>
						</div>
						<div flex="35" flex-xs="100">
							<div class="copyright">
								{{copyright.copy}} <a href="{{copyright.link}}">{{copyright.label}}</a>. {{copyright.rights}}.
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="js/application.js"></script>
		<script src="js/controllers/HeaderController.js"></script>
		<script src="js/controllers/FooterController.js"></script>
		<script src="js/controllers/IndexController.js"></script>
		<script src="js/misc/carousel.js"></script>

	</body>

</html>