<!DOCTYPE html>
<html lang="en" ng-app="weddingApp">

<head>

    <title>Weddingdance.ro</title>
    <meta name="description" content="Cursuri de dans pentru dansul mirilor">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="less/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,300italic,100italic,100,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>

<body ng-cloak>

<div class="body-wrapper">

    <header class="main-header" id="doc-header" ng-controller="HeaderController" ng-class="">
        <div class="wrap">
            <div layout="row">
                <div flex>
                    <nav class="secondary-nav" role="navigation">
                        <ul>
                            <li ng-repeat="menu in secmenus">
                                <a href="{{menu.link}}">
                                    <md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div layout="row">
                <div flex>
                    <div class="logo">
                        <a href="{{logo.link}}"><img ng-src="{{logo.imageUrl}}" alt="weddingdance.ro"></a>
                        <h2>{{logo.motto}}</h2>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div flex>
                    <nav class="main-nav" role="navigation">
                        <ul>
                            <li ng-repeat="menu in menus">
                                <a href="{{menu.link}}">
                                    <md-button>{{menu.label}}</md-button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="wrap">
        <div class="intro intro-page" style="background-image: url('assets/img/bg-intro.jpg')">
        </div>
    </div>

    <div class="wrap" ng-controller="ServicesController">
        <div class="generic-content">
            <div layout="row">
                <div flex>
                    <h3>{{pagecontent.title}}</h3>
                </div>
            </div>
            <div layout="row">
                <div flex>


                    <h6>Dansul mirilor. De ce?</h6>
                    <ul class="content-list">
                        <li>Pentru că e un moment special al nunții și e doar al vostru</li>
                        <li>Pentru că va fi toată lumea cu ochii pe voi</li>
                        <li>Pentru că orele nelimitate îți asigură învățarea dansului</li>
                        <li>Pentru că un antrenor îți stă alături la fiecare pas</li>
                        <li>Pentru că vei avea o coregrafie personalizată, pentru un dans sau colaj de mai multe</li>
                        <li>Pentru că ți se se va spune sincer cum te descurci</li>
                        <li>Pentru că repetiția finală va fi la sală</li>
                        <li>Pentru că momentul unic în viață te costă cât 2 abonamente la sală</li>
                    </ul>
                    <br>
                    <br>
                    <p class="italic">„Sincer, mi-a fost groază de dansul mirilor. Nunta pentru mine a început după. Dar de atâtea ori repetasem că trebuia să fiu sedat ca să nu îmi iasă. Nu am călcat pe rochie, nu am alunecat. A fost super. M-am simțit bine când toată lumea ne-a aplaudat. „</p>

                    <a href="contact.html"><md-button class="md-raised takeme">Vreau!</md-button></a>

                    <br>
                    <br>
                    <br>
                    <br>

                    <h6>Dansuri de societate pentru cupluri. De ce?</h6>
                    <ul class="content-list">
                        <li>Pentru că e o ieșire din rutină</li>
                        <li>Pentru că în orice împrejurare, toată lumea va fi cu ochii pe voi</li>
                        <li>Pentru că programul este flexibil</li>
                        <li>Pentru că un antrenor îți stă alături la fiecare pas</li>
                        <li>Pentru că e fun</li>
                        <li>Pentru că e ca o ieșire la sală, dar sunteți doar voi doi</li>
                        <li>Pentru că ți se va spune sincer cum te descurci</li>
                        <li>Pentru că activitatea asta placută te costă cât 2 ieșiri la un film</li>
                    </ul>

                    <a href="contact.html"><md-button class="md-raised takeme">Vreau!</md-button></a>
                    <br />
                    <br />
                    <a href="faq.html"><md-button class="md-raised takeme">Intrebari frecvente</md-button></a>

                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer" ng-controller="FooterController">
        <div class="wrap">
            <div layout="row" layout-xs="column">
                <div flex="70" flex-xs="100">
                    <nav class="bottom-nav" role="navigation">
                        <ul>
                            <li ng-repeat="menu in menus">
                                <a href="{{menu.link}}">
                                    <md-button>{{menu.label}}</md-button>
                                </a>
                            </li>
                            <li ng-repeat="menu in secmenus">
                                <a href="{{menu.link}}">
                                    <md-button ng-disabled="{{menu.disabled}}">{{menu.label}}</md-button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div flex="30" flex-xs="100">
                    <nav class="social-nav">
                        <ul>
                            <li ng-repeat="network in socials">
                                <a href="{{network.link}}" target="_blank">
                                    <img ng-src="{{network.imageUrl}}" alt="{{network.name}}">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div layout="row" layout-align="left center" layout-xs="column">
                <div flex="65" flex-xs="100" ng-repeat="address in addresses">
                    <div class="address">
                        <span class="phone">{{address.phone}}</span><br>
                        <span class="phone">{{address.phone2}}</span><br>
                        <span>{{address.area}}</span><br>
                        {{address.addrLineOne}}<br>
                        {{address.addrLineTwo}}
                    </div>
                </div>
                <div flex="35" flex-xs="100">
                    <div class="copyright">
                        {{copyright.copy}} <a href="{{copyright.link}}">{{copyright.label}}</a>. {{copyright.rights}}.
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/application.js"></script>
<script src="js/controllers/HeaderController.js"></script>
<script src="js/controllers/FooterController.js"></script>
<script src="js/controllers/ServicesController.js"></script>

</body>

</html>